<div class="flex flex-col h-screen">
  <mat-card class="m-4">
    <mat-card-header class="m-2">
      <mat-card-title>Infrastructure Console Settings</mat-card-title>
    </mat-card-header>
    <mat-card-content class="flex flex-col">
      <form [formGroup]="settingsForm">
        <mat-form-field class="w-full">
          <input matInput formControlName="appURL" placeholder="Server Url" readonly>
        </mat-form-field>
        <mat-form-field class="w-full">
          <input matInput formControlName="clientId" placeholder="Client ID" readonly>
        </mat-form-field>
        <mat-form-field class="w-full">
          <input matInput type="password" placeholder="Client Secret" formControlName="clientSecret"
            [type]="hideClientSecret ? 'password' : 'text'">
          <mat-icon matSuffix (click)="hideClientSecret = !hideClientSecret">
            {{hideClientSecret ? 'visibility' : 'visibility_off'}}
          </mat-icon>
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions class="m-4 flex flex-row gap-2">
      <button (click)="updateSettings()" mat-button color="primary" [disabled]="!settingsForm.valid">Update</button>
    </mat-card-actions>
  </mat-card>
</div>
