<div class="flex flex-col h-screen m-2">
  <mat-card class="flex flex-col m-2">
    <mat-card-header>
      <mat-card-title>Personal Details</mat-card-title>
    </mat-card-header>
    <mat-card-content class="flex flex-col">
      <form class="sm:w-full p-2" [formGroup]="personalForm">
        <mat-form-field class="md:w-1/2 md:pl-1 sm:w-full">
          <input matInput formControlName="fullName" placeholder="Full Name">
        </mat-form-field>
        <mat-form-field class="md:w-1/2 md:pl-1 sm:w-full">
          <input matInput formControlName="email" placeholder="Email" readonly>
          <button mat-button matSuffix *ngIf="personalForm.controls.email.value && !(isEmailVerified | async)"
            [disabled]="isVerifyEmailDisabled"
            (click)="emailVerificationCode()">
            <mat-icon>warning</mat-icon>
          </button>
        </mat-form-field>
        <mat-form-field *ngIf="phone" class="md:w-1/2 md:pl-1 sm:w-full">
          <input matInput formControlName="phone" placeholder="Phone" readonly>
        </mat-form-field>
        <mat-form-field class="md:w-1/2 md:pl-1 sm:w-full">
          <input matInput formControlName="givenName" placeholder="First Name">
        </mat-form-field>
        <mat-form-field class="md:w-1/2 md:pl-1 sm:w-full">
          <input matInput formControlName="middleName" placeholder="Middle Name">
        </mat-form-field>
        <mat-form-field class="md:w-1/2 md:pl-1 sm:w-full">
          <input matInput formControlName="familyName" placeholder="Last Name">
        </mat-form-field>
        <mat-form-field class="md:w-1/2 md:pl-1 sm:w-full">
          <input matInput formControlName="nickname" placeholder="Nickname">
        </mat-form-field>
        <mat-form-field class="md:w-1/2 md:pl-1 sm:w-full">
          <mat-select formControlName="gender" placeholder="Gender">
            <mat-option *ngFor="let g of genders" [value]="g">
              {{ g }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="md:w-1/2 md:pl-1 sm:w-full">
          <mat-datepicker-toggle matSuffix [for]="birthdatePicker"></mat-datepicker-toggle>
          <input matInput formControlName="birthdate" [matDatepicker]="birthdatePicker" placeholder="Birthdate"
            [value]="birthdate" (dateInput)="updateBirthdate('input', $event)">
          <mat-datepicker #birthdatePicker disabled="false"></mat-datepicker>
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button (click)="updatePersonal()" mat-button color="primary" [disabled]="!personalForm.valid">Update</button>
      <button (click)="updatePhone()" *ngIf="enableUserPhone" mat-button>Update Phone</button>
      <button (click)="updateEmail()" mat-button>Update Email</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="flex flex-col m-2">
    <mat-card-header>
      <mat-card-title>Profile Details</mat-card-title>
      <img mat-card-avatar (click)="toggleFileField()" [src]="picture" *ngIf="picture">
      <div mat-card-avatar class="avatar-image" (click)="toggleFileField()" *ngIf="!picture">
      </div>
    </mat-card-header>
    <mat-card-content class="flex flex-col">
      <form class="sm:w-full p-2" [formGroup]="profileForm">
        <input hidden formControlName="picture" (change)="onFileChanged()" #fileInput type="file" accept="image/*">
        <mat-form-field class="md:w-1/2 md:pl-1 sm:w-full">
          <input matInput formControlName="website" placeholder="Website">
        </mat-form-field>
        <mat-form-field class="md:w-1/2 md:pl-1 sm:w-full">
          <mat-select formControlName="zoneinfo" placeholder="Time Zone">
            <mat-option *ngFor="let timezone of timezones" [value]="timezone.abbr">
              {{ timezone.text }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="md:w-1/2 md:pl-1 sm:w-full">
          <mat-select formControlName="locale" placeholder="Locale">
            <mat-option *ngFor="let l of locales" [value]="l.code">
              {{ l.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-card-actions>
          <button (click)="updateProfile()" mat-button color="primary">Update</button>
          <button *ngIf="hideAvatar" mat-button (click)="fileInput.click()">Choose Avatar</button>
          <button *ngIf="hideAvatar && picture !== missingAvatarImage" mat-button color="warn"
            (click)="deleteAvatar()">Delete Avatar</button>
          </mat-card-actions>
      </form>
    </mat-card-content>
  </mat-card>
  <mat-card class="flex flex-col m-2">
    <mat-card-header>
      <mat-card-title>Change Password</mat-card-title>
    </mat-card-header>
    <mat-card-content class="flex flex-col">
      <form class="md:w-1/2 sm:w-full p-2" *ngIf="showPasswordSection" [formGroup]="changePasswordForm">
        <mat-form-field class="w-full p-1">
          <input matInput type="password" formControlName="currentPassword" placeholder="Current Password" required>
        </mat-form-field>
        <mat-form-field class="w-full p-1">
          <input matInput type="password" formControlName="newPassword" placeholder="New Password" required>
        </mat-form-field>
        <mat-form-field class="w-full p-1">
          <input matInput type="password" formControlName="repeatPassword" placeholder="Repeat Password" required>
        </mat-form-field>
        <app-password-requirement></app-password-requirement>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button (click)="changePasswordRequest()" mat-button color="primary">Update</button>
      <button *ngIf="!showPasswordSection" (click)="showChangePassword()" mat-button color="primary">Change Password</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="flex flex-col m-2">
    <mat-card-header>
      <mat-card-title>Security Details</mat-card-title>
      <mat-card-subtitle>Multi Factor Authentication</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="flex flex-col">
      <mat-slide-toggle [checked]="checked2fa" (click)="enableDisable2fa()">
        {{ checked2fa ? 'Enabled' : 'Disabled' }}
      </mat-slide-toggle>
    </mat-card-content>
    <mat-card-actions>
      <button (click)="manageKeys()" mat-button color="primary">Manage Keys</button>
      <button *ngIf="!enablePasswordLess" (click)="enablePasswordLessLogin()" mat-button>Enable Password-less</button>
      <button *ngIf="enablePasswordLess" (click)="disablePasswordLess()" mat-button>Disable Password-less</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="flex flex-col m-2">
    <mat-card-header>
      <mat-card-title>Access Details</mat-card-title>
      <mat-card-subtitle>Roles and Groups</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="flex flex-col">
      <mat-chip-listbox>
        <mat-chip-option *ngFor="let role of roles" disabled>
          {{ role }}
        </mat-chip-option>
      </mat-chip-listbox>
    </mat-card-content>
  </mat-card>
  <mat-card *ngIf="!isPasswordSet" class="flex flex-col m-2">
    <mat-card-header>
      <mat-card-title>Set Password</mat-card-title>
    </mat-card-header>
    <mat-card-content class="flex flex-col"></mat-card-content>
    <mat-card-actions>
      <button (click)="setPassword()" mat-button [disabled]="sentForgotPasswordEmail" color="primary">Send
        Email</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="flex flex-col m-2">
    <mat-card-header>
      <mat-card-title>Delete User</mat-card-title>
      <mat-card-subtitle *ngIf="!checkIfAdmin()">Deleting User Account is irreversible</mat-card-subtitle>
      <mat-card-subtitle *ngIf="checkIfAdmin()">Administrator cannot be deleted</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="flex flex-col"></mat-card-content>
    <mat-card-actions>
      <button [disabled]="checkIfAdmin()" (click)="deleteUser()" mat-button color="warn">Delete User</button>
    </mat-card-actions>
  </mat-card>
</div>
