<div class="flex flex-col h-screen">
  <mat-card class="flex-none h-1/2 w-96 m-auto justify-between mat-elevation-z2">
    <mat-card-header class="justify-center">
      <mat-card-title i18n="@@signIn">Sign in</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="mb-8">
        <img class="w-32 m-auto" *ngIf="logoURL" src="{{ logoURL }}" alt="logo">
      </div>
      <form [formGroup]="verifyUserForm">
        <ng-container *ngIf="!hideUsername">
          <mat-form-field class="w-full">
            <input matInput i18n-placeholder="@@usernameOrPhone" placeholder="Username or phone"
              formControlName="username" name="username" #username (keyup.enter)="verifyUser()" required>
            <mat-error>{{ serverError }}</mat-error>
          </mat-form-field>
        </ng-container>
      </form>
      <form [formGroup]="loginUserForm">
        <mat-form-field style="display: none;">
          <input matInput formControlName="username" name="username">
        </mat-form-field>
        <ng-container *ngIf="!hidePassword">
          <mat-form-field class="w-full">
            <input matInput i18n-placeholder="@@password" placeholder="Password"
              [type]="isPassHidden ? 'password' : 'text'" #password formControlName="password"
              (keyup.enter)="onSubmitPassword()" required>
            <a mat-icon-button matSuffix (click)="!disableVerifyPasswordButton && togglePassHidden()"
              [attr.aria-label]="'Hide password'" [attr.aria-pressed]="isPassHidden">
              <mat-icon>{{isPassHidden ? 'visibility_off' : 'visibility'}}</mat-icon>
            </a>
            <a mat-icon-button matSuffix (click)="!disableVerifyPasswordButton && clearLoginForm()"
              [attr.aria-label]="'Login with another account'">
              <mat-icon>refresh</mat-icon>
            </a>
            <mat-error>{{ serverError }}</mat-error>
          </mat-form-field>
        </ng-container>
      </form>
      <ng-container *ngIf="!hideCode">
        <form [formGroup]="submitOTPForm">
          <mat-form-field class="w-full">
            <input matInput i18n-placeholder="@@otp" placeholder="OTP" formControlName="code" name="code" #otp autofocus
              required>
            <mat-error>{{ serverError }}</mat-error>
          </mat-form-field>
        </form>
      </ng-container>
    </mat-card-content>
    <mat-card-footer>
      <div class="flex flex-col justify-between m-4">
        <div class="flex flex-row justify-between" *ngIf="!hideUsername">
          <button (click)="verifyUser()" [disabled]="disableVerifyUserButton" mat-raised-button color="primary"
            i18n="@@next">Next</button>
          <a [disabled]="disableVerifyUserButton" routerLink="/signup" mat-button i18n="@@signUp">Sign Up</a>
        </div>

        <div class="flex flex-row justify-between" *ngIf="!hidePassword">
          <button (click)="onSubmitPassword()" [disabled]="disableVerifyPasswordButton" mat-raised-button
            color="primary" i18n="@@login" #btnLogin=matButton>Login</button>
          <a (click)="!disableVerifyPasswordButton && forgotPassword()" mat-button href="#" i18n="@@forgot"
            [disabled]="disableVerifyPasswordButton">Forgot?</a>
        </div>
        <div class="flex flex-row justify-between" *ngIf="!hideCode">
          <button (click)="onSubmitOTP()" [disabled]="disableOnSubmitOTPButton" mat-raised-button color="primary"
            i18n="@@login">Login</button>
          <button (click)="resendOTP()" [disabled]="disableResendOTP" mat-button #reSendOTP i18n="@@resendOTP">Resend
            OTP?</button>
        </div>
      </div>
    </mat-card-footer>
  </mat-card>

  <div class="flex flex-row  m-auto justify-center">
    <mat-button-toggle-group *ngIf="!!enablePasswordLess">
      <mat-button-toggle *ngIf="disableLoginChoice" (click)="showPasswordLessLogin()">Password-less
        OTP</mat-button-toggle>
      <mat-button-toggle *ngIf="enablePasswordLess" (click)="webAuthnLogin()">Password-less
        Key</mat-button-toggle>
    </mat-button-toggle-group>
  </div>

  <mat-card class="flex-row h-1/4 w-96 m-auto mat-elevation-z2" [hidden]="enablePasswordLess"
    *ngIf="showSocialLogins">
    <mat-card-header class="justify-center">
      <mat-card-title i18n="@@socialLogin">Social Login</mat-card-title>
    </mat-card-header>
    <mat-card-content class="flex flex-row mt-2">
      <button *ngFor="let login of socialLogins" (click)="connectWith(login)" class="w-full m-1"
        mat-stroked-button>
        {{ login.name }}
      </button>
    </mat-card-content>
  </mat-card>

</div>
