<div class="flex flex-col h-screen">
  <mat-card class="m-4">
    <mat-card-header class="m-2">
      <mat-card-title>{{ name || "New Email" }}</mat-card-title>
    </mat-card-header>
    <mat-card-content class="flex flex-col">
      <form [formGroup]="emailForm">
        <mat-form-field class="w-full">
          <input matInput placeholder="Name" formControlName="name" mat-raised-button required>
        </mat-form-field>
        <mat-form-field class="w-full">
          <input matInput placeholder="Email Host" formControlName="host" mat-raised-button required>
        </mat-form-field>
        <mat-form-field class="w-full">
          <input matInput placeholder="port" formControlName="port" mat-raised-button required>
        </mat-form-field>
        <mat-form-field class="w-full">
          <input matInput placeholder="user" formControlName="user" mat-raised-button required>
        </mat-form-field>
        <mat-form-field class="w-full">
          <input [type]="hide ? 'password' : 'text'" matInput placeholder="Password" formControlName="pass"
            mat-raised-button [required]="isPasswordRequired">
        </mat-form-field>
        <mat-form-field class="w-full">
          <input matInput placeholder="from" formControlName="from" mat-raised-button required>
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions class="m-4 flex flex-row gap-2">
      <button (click)="updateEmail()" mat-flat-button color="primary" [disabled]="!emailForm.valid"
        *ngIf="host">Update</button>
      <button (click)="createEmail()" mat-flat-button color="primary" [disabled]="!emailForm.valid"
        *ngIf="!host">Create</button>
      <button (click)="delete()" mat-flat-button color="warn" *ngIf="uuid !== new">Delete</button>
    </mat-card-actions>
  </mat-card>
</div>
