<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list>
      <!-- <a mat-list-item (click)="login()" *ngIf="!tokenIsValid">Login</a> -->
      <a mat-list-item routerLink="/profile" *ngIf="tokenIsValid">My Profile</a>
      <a mat-list-item (click)="logout()" *ngIf="tokenIsValid && !enableChoosingAccount">Logout</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="flex justify-end" [ngClass]="{'justify-between' : isHandset$ | async}">
      <button class="flex flex-row justify-start" type="button" aria-label="Toggle sidenav"
        (click)="drawer.toggle()" *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <div class="flex flex-row mt-4" *ngIf="enableChoosingAccount">
        <img mat-card-avatar [matMenuTriggerFor]="menu" [src]="avatar" *ngIf="avatar">
        <div mat-card-avatar [matMenuTriggerFor]="menu" class="avatar-image pointer" *ngIf="!avatar"></div>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="chooseAccount()">Choose Account</button>
          <button mat-menu-item (click)="logoutCurrentUser()">Logout</button>
        </mat-menu>
      </div>
    </mat-toolbar>
    <router-outlet (activate)="onActivate($event)"></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
