<div class="flex flex-col h-screen">
  <mat-card class="m-4">
    <mat-card-header class="m-2">
      <mat-card-title>{{ name || "New Cloud Storage" }}</mat-card-title>
    </mat-card-header>
    <mat-card-content class="flex flex-col">
      <form [formGroup]="cloudForm">
        <mat-form-field class="w-full">
          <input matInput placeholder="Cloud Storage Name" formControlName="name" required>
        </mat-form-field>
        <mat-form-field class="w-full">
          <input matInput placeholder="Version" formControlName="version" required>
        </mat-form-field>
        <mat-form-field class="w-full">
          <input matInput placeholder="Region" formControlName="region" required>
        </mat-form-field>
        <mat-form-field class="w-full">
          <input matInput placeholder="Endpoint" formControlName="endpoint" required>
        </mat-form-field>
        <mat-form-field class="w-full">
          <input matInput placeholder="Access Key" formControlName="accessKey"
            [type]="hideAccessKey ? 'password' : 'text'">
          <mat-icon matSuffix (click)="hideAccessKey = !hideAccessKey">{{ hideAccessKey ? 'visibility_off' :
            'visibility' }}</mat-icon>
        </mat-form-field>
        <mat-form-field class="w-full">
          <input matInput placeholder="Secret Key" formControlName="secretKey" password
            [type]="hideSecretKey ? 'password' : 'text'">
          <mat-icon matSuffix (click)="hideSecretKey = !hideSecretKey">{{ hideSecretKey ? 'visibility_off' :
            'visibility' }}</mat-icon>
        </mat-form-field>
        <mat-form-field class="w-full">
          <input matInput placeholder="Bucket" formControlName="bucket" required>
        </mat-form-field>
        <mat-form-field class="w-full">
          <input matInput placeholder="Base Path" formControlName="basePath" required>
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions class="m-4 flex flex-row gap-2">
      <button (click)="createCloudStorage()" mat-flat-button color="primary" [disabled]="!cloudForm.valid"
        *ngIf="!uuid">Create</button>
      <button (click)="updateCloudStorage()" mat-flat-button color="primary" [disabled]="!cloudForm.valid"
        *ngIf="uuid">Update</button>
      <button (click)="delete()" mat-flat-button color="warn" *ngIf="uuid !== new">Delete</button>
    </mat-card-actions>
  </mat-card>
</div>