<div class="flex flex-col h-screen">
  <mat-card class="m-4">
    <mat-card-header>
      <mat-card-title>Authorization Server Settings</mat-card-title>
    </mat-card-header>
    <mat-card-content class="flex flex-col">
      <form (ngSubmit)="updateAuthSettings()" [formGroup]="authSettingsForm">
        <mat-form-field class="w-full">
          <input matInput formControlName="issuerUrl" placeholder="Server Url" readonly>
          <mat-checkbox formControlName="disableSignup" matSuffix>Disable Sign Up</mat-checkbox>
        </mat-form-field>
        <mat-form-field class="w-full" (click)="toggleOrgName()">
          <input matInput formControlName="organizationName" placeholder="Organization Name">
        </mat-form-field>
        <mat-form-field class="w-full">
          <mat-select placeholder="Communication Server Client ID" formControlName="communicationServerClientId">
            <mat-option *ngFor="let client of clientList" [value]="client.clientId">
              {{ client.name + " (" + client.clientId + ")"}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="w-full">
          <mat-select placeholder="Identity Provider Client ID" formControlName="identityProviderClientId">
            <mat-option *ngFor="let client of clientList" [value]="client.clientId">
              {{ client.name + " (" + client.clientId + ")"}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="w-full">
          <mat-select placeholder="Infrastructure Console Client ID" formControlName="infrastructureConsoleClientId">
            <mat-option *ngFor="let client of clientList" [value]="client.clientId">
              {{ client.name + " (" + client.clientId + ")"}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="w-full">
          <input matInput formControlName="refreshTokenExpiresInDays" placeholder="Refresh Token Expires in Days"
            type="number">
          <mat-checkbox formControlName="enableChoosingAccount" matSuffix>Enable Account Choice</mat-checkbox>
        </mat-form-field>
        <mat-form-field class="w-full">
          <input matInput formControlName="authCodeExpiresInMinutes" placeholder="Authorization Code Expires in Minutes"
            type="number">
          <mat-checkbox formControlName="enableUserPhone" matSuffix>Enable User Phone</mat-checkbox>
        </mat-form-field>
        <mat-form-field class="w-full">
          <input matInput placeholder="Do not allow user to be deleted" readonly>
          <mat-checkbox formControlName="isUserDeleteDisabled" matSuffix>Disable User Deletion</mat-checkbox>
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button type="submit" mat-button color="primary" [disabled]="!authSettingsForm.valid">Update</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="m-4">
    <mat-card-header>
      <mat-card-title>Security Settings</mat-card-title>
    </mat-card-header>
    <mat-card-content class="flex flex-col justify-start">
      <p>Deleting bearer tokens will revoke access for all connected apps and users</p>
      <button (click)="deleteBearerTokens()" [disabled]="disableDeleteTokens" mat-raised-button color="warn">Delete
        Bearer Tokens</button>
      <p>Deleting user sessions will logout all logged in users</p>
      <button (click)="deleteUserSessions()" [disabled]="disableDeleteSessions" mat-raised-button color="warn">Delete
        User Sessions</button>
    </mat-card-content>
  </mat-card>
</div>