<div class="flex flex-col h-screen">
  <mat-card class="m-4">
    <mat-card-header class="m-2">
      <mat-card-title>Identity Provider Settings</mat-card-title>
    </mat-card-header>
    <mat-card-content class="flex flex-col">
      <form [formGroup]="settingsForm">
        <mat-form-field class="w-full">
          <input matInput formControlName="appURL" placeholder="Server Url" readonly>
        </mat-form-field>
        <mat-form-field class="w-full">
          <input matInput formControlName="clientId" placeholder="Client ID" readonly>
        </mat-form-field>
        <mat-form-field class="w-full">
          <input
            matInput type="password" placeholder="Client Secret"
            formControlName="clientSecret" [type]="hideClientSecret ? 'password' : 'text'">
          <mat-icon matSuffix (click)="hideClientSecret = !hideClientSecret">
            {{hideClientSecret ? 'visibility' : 'visibility_off'}}
          </mat-icon>
        </mat-form-field>
        <mat-form-field class="w-full">
          <mat-select
            placeholder="UUID of Cloud Storage"
            formControlName="cloudStorageSettings">
            <mat-option *ngFor="let storage of cloudStorages" [value]="storage.uuid">
              {{ storage.name + " (" + storage.uuid + ")"}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </form>
      </mat-card-content>
      <mat-card-actions class="m-4 flex flex-row gap-2">
        <button (click)="updateSettings()" mat-button color="primary" [disabled]="!settingsForm.valid">Update</button>
      </mat-card-actions>
    </mat-card>
    <mat-card class="m-4">
      <mat-card-header class="m-2">
        <mat-card-title>Security Settings</mat-card-title>
      </mat-card-header>
      <mat-card-content class="flex flex-col">
        <p>Deleting cached tokens will revoke access for all connected apps and users</p>
        <button
          (click)="deleteCachedTokens()"
          [disabled]="disableDeleteTokens"
          mat-raised-button color="warn">Delete Cached Tokens</button>
      </mat-card-content>
    </mat-card>
</div>
