<div class="flex flex-col h-screen">
  <mat-card class="m-4">
    <mat-card-header class="m-2">
      <mat-card-title>{{ name || "New Service Type" }}</mat-card-title>
    </mat-card-header>
    <mat-card-content class="flex flex-col">
      <form [formGroup]="serviceTypeForm">
        <mat-form-field class="w-full">
          <input matInput placeholder="Service Type Name" formControlName="serviceTypeName" required>
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions class="m-4 flex flex-row gap-2">
      <button mat-flat-button color="warn" (click)="deleteServiceType()" *ngIf="name">Delete</button>
      <button (click)="createServiceType()" mat-flat-button color="primary" [disabled]="!serviceTypeForm.valid"
        *ngIf="!name">Create</button>
    </mat-card-actions>
  </mat-card>
</div>
