<div class="flex flex-col h-screen">
  <mat-card class="m-4">
    <mat-card-header class="m-2">
      <mat-card-title>{{ fullName || "New User" }}</mat-card-title>
    </mat-card-header>
    <mat-card-content class="flex flex-col">
      <form [formGroup]="userForm">
        <mat-form-field class="w-full">
          <input matInput placeholder="Full Name" formControlName="fullName" required>
        </mat-form-field>
        <mat-form-field class="w-full">
          <input matInput placeholder="Phone Number" formControlName="userPhone" [readonly]="uuid">
        </mat-form-field>
        <mat-form-field class="w-full">
          <input matInput placeholder="Email" formControlName="userEmail" [readonly]="uuid">
          <mat-checkbox formControlName="isDisabled" matSuffix>Disable User</mat-checkbox>
        </mat-form-field>
        <mat-form-field class="w-full">
          <input matInput type="password" placeholder="Password" formControlName="userPassword">
        </mat-form-field>
        <mat-form-field class="w-full">
          <mat-select placeholder="Roles" formControlName="userRole" multiple>
            <mat-option *ngFor="let role of roles" [value]="role">{{role}}</mat-option>
          </mat-select>
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions class="m-4 flex flex-row gap-2">
      <button (click)="createUser()" mat-flat-button color="primary" [disabled]="!userForm.valid"
        *ngIf="!uuid">Create</button>
      <button (click)="updateUser()" mat-flat-button color="primary" [disabled]="!userForm.valid"
        *ngIf="uuid">Update</button>
      <button (click)="manageAuthUser()" mat-flat-button [disabled]="!userForm.valid" *ngIf="uuid">Manage
        Keys</button>
      <button *ngIf="!enablePasswordLess && uuid" (click)="enablePasswordLessLogin()" mat-flat-button
        [disabled]="!userForm.valid">Enable Password-less</button>
      <button *ngIf="enablePasswordLess && uuid" (click)="disablePasswordLessLogin()" mat-flat-button
        [disabled]="!userForm.valid">Disable Password-less</button>
      <button (click)="delete()" mat-flat-button color="warn" *ngIf="uuid && uuid !== new">Delete</button>
    </mat-card-actions>
  </mat-card>
  <claims-listing class="m-4" *ngIf="uuid && uuid != new" [uuid]="uuid"></claims-listing>
</div>
