<div class="flex flex-col h-screen">
  <mat-card class="m-4">
    <mat-card-header class="m-2">
      <mat-card-title>{{ name || "New Service" }}</mat-card-title>
    </mat-card-header>
    <mat-card-content class="flex flex-col">
      <form [formGroup]="serviceForm">
        <mat-form-field class="w-full">
          <input matInput placeholder="Service Name" formControlName="name" required>
        </mat-form-field>
        <mat-form-field class="w-full">
          <input type="text" placeholder="Select Type" aria-label="Type" matInput formControlName="type"
            (keyup)="searchKeyUp()" [matAutocomplete]="auto" required>
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let type of serviceTypes | async" [value]="type.name">
              {{ type.name }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <mat-form-field class="w-full">
          <mat-select placeholder="Client ID" formControlName="clientId" required>
            <mat-option *ngFor="let client of clientList" [value]="client.clientId">{{ client.name + " (" +
              client.clientId + ")"}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="w-full">
          <input matInput placeholder="Service URL" formControlName="serviceURL" required>
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions class="m-4 flex flex-row gap-2">
      <button (click)="registerService()" mat-flat-button color="primary" [disabled]="!serviceForm.valid"
        *ngIf="!clientId">Create</button>
      <button (click)="modifyService()" mat-flat-button color="primary" [disabled]="!serviceForm.valid"
        *ngIf="clientId">Update</button>
      <button (click)="delete()" mat-flat-button color="warn" *ngIf="uuid !== new">Delete</button>
    </mat-card-actions>
  </mat-card>
</div>
