<div class="flex flex-col h-screen">
  <mat-card class="m-4">
    <mat-card-header class="m-2">
      <mat-card-title>Brand Settings</mat-card-title>
    </mat-card-header>
    <mat-card-content class="flex flex-col">
      <form [formGroup]="settingsForm">
        <mat-form-field class="w-full">
          <input matInput formControlName="logoURL" placeholder="Logo Url">
        </mat-form-field>
        <mat-form-field class="w-full">
          <input matInput formControlName="faviconURL" placeholder="Favicon Url">
        </mat-form-field>
        <mat-form-field class="w-full">
          <input matInput formControlName="helpURL" placeholder="Help Url">
        </mat-form-field>
        <mat-form-field class="w-full">
          <input matInput formControlName="privacyURL" placeholder="Privacy Url">
        </mat-form-field>
        <mat-form-field class="w-full">
          <input matInput formControlName="termsURL" placeholder="Terms Url">
        </mat-form-field>
        <mat-form-field class="w-full">
          <input matInput formControlName="copyrightMessage" placeholder="Copyright Message">
        </mat-form-field>
        <div class="flex flex-row">
          <mat-form-field class="w-full">
            <input matInput formControlName="primaryColor" placeholder="Primary Color" type="color">
          </mat-form-field>
          <mat-icon class="mt-4" (click)="clearPrimaryColor()">clear</mat-icon>
        </div>
        <div class="flex flex-row">
          <mat-form-field class="w-full">
            <input matInput formControlName="accentColor" placeholder="Accent Color" type="color">
          </mat-form-field>
          <mat-icon class="mt-4" (click)="clearAccentColor()">clear</mat-icon>
        </div>
        <div class="flex flex-row">
          <mat-form-field class="w-full">
            <input matInput formControlName="warnColor" placeholder="Warn Color" type="color">
          </mat-form-field>
          <mat-icon class="mt-4" (click)="clearWarnColor()">clear</mat-icon>
        </div>
      </form>
    </mat-card-content>
    <mat-card-actions class="m-4 flex flex-row gap-2">
      <button (click)="updateSettings()" mat-button color="primary" [disabled]="!settingsForm.valid">Update</button>
    </mat-card-actions>
  </mat-card>
</div>
